{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container text-white d-block">
        <h1 class="text-warning text-center my-3">{{ 'connexion' | trans | upper }}</h1>
        <form class="form-group" method="POST">
            <div class="mb-3">
                <label for="username">{{ 'username' | trans | capitalize }}</label>
                <input name="_username" id="username" class="form-control rounded" type="text">
            </div>
            <div class="mb-3">
                <label for="password">{{ 'password' | trans | capitalize }}</label>
                <input name="_password" class="form-control rounded" type="password">
            </div>
            <button type="submit" class="btn btn-success rounded">{{ 'connexion' | trans }}</button>

        </form>
    </div>
{% endblock %}